<section class="section">
  <div class="container">
    <h1 class="section-title">Edit Your Profile</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal col-md-offset-3 col-md-6" }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
            <%= f.label :email, :class => "sr-only" %>
            <div class="input-group">
                <div class="input-group-addon">Email</div>
                <%= f.email_field :email, autofocus: true, :class => "form-control" %>
            </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <% if false %>
            <div class="form-group">
                <%= f.label :password, :class => "col-md-4 control-label" %>
                <div class="col-md-8">
                    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :password_confirmation, "Confirm password", :class => "col-md-4 control-label" %>
                <div class="col-md-8">
                    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :current_password, :class => "col-md-4 control-label" %>
                <div class="col-md-8">
                    <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
                </div>
            </div>
        <% end %>

        <% f.object.build_person unless f.object.person.present? %>
        <%= f.fields_for :person do |ff| %>

          <%= render partial: "shared/person_edit_form", locals: { f: ff } %>
        
        <% end %>

        <div class="form-group">
            <%= f.submit "Update", :class => "btn btn-block btn-lg white bg-charcoal" %>
        </div>
    <% end %>
  </div>
</section>

<section class="section bg-charcoal">
    <div class="container">
        <h3 class="section-title">Unhappy?</h3>
        <p class="col-md-12 text-center">
            If you are unhappy with your account and would like to remove it
            permanently from this site, you can do so by clicking the button below.
        </p>
        <div class="form-group row text-center">
            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure you want to cancel your account?" }, method: :delete, class: "btn btn-lg bg-orange white" %>
        </div>
    </div>
</section>
