<div class="row topic-form">
  <h1 class="robotoSlab text-center">Edit <%= @person.first_name.present? ? @person.first_name : 'Person' %></h1>

  <% @person.role_list_tags = @person.role_list %>

  <%= form_for @person, html: { class: "form-horizontal col-md-offset-3 col-md-6" } do |f| %>
    <% if @person.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

        <ul>
        <% @person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= render partial: "shared/person_edit_form", locals: { f: f } %>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
