<div class="resource-item">
  <div class="head">
    <h4 id="contactLabel" class="charcoal"><span class="glyphicon glyphicon-info-sign"></span> Have questions for me? Want to meet? Feel free to contact me.</h4>
  </div>
  <div class="body">
    <%= form_for @person_email, :url => { action: :send_message } do |f| %>
      <% if f.object.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(f.object.errors.count, "error") %> prohibited this from being sent:</h2>
          <ul>
          <% f.object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.hidden_field :person_id %>

      <div class="col-sm-6 border-bottom" style="padding:0;">
        <%= f.text_field :sender_name, placeholder: "Your Name", class: "form-control", autofocus: true %>
      </div>
      <div class="col-sm-6 border-bottom border-left" style="padding:0;">
        <%= f.text_field :sender_email, placeholder: "Your Email", class: "form-control" %>
      </div>

      <div class="col-sm-12 border-bottom" style="padding:0;">
        <%= f.text_field :sender_phone, placeholder: "Your Phone #", class: "form-control" %>
      </div>
      <div class="col-sm-12 border-bottom" style="padding:0;">
        <%= f.text_area :message, placeholder: "Your Message", class: "form-control" %>
      </div>
      <%= f.submit "Send", class: "btn btn-lg btn-block" %>
    <% end %>
  </div>
</div>
