<style type='text/css'>
  @import url(http://fonts.googleapis.com/css?family=Lato:400,700);
  body
  {
    font-family: 'Lato', 'sans-serif';
  }
  .profile 
  {
    min-height: 255px;
    display: inline-block;
  }
  figcaption.ratings
  {
    margin-top:20px;
  }
  figcaption.ratings a
  {
    color:#f1c40f;
    font-size:11px;
  }
  figcaption.ratings a:hover
  {
    color:#f39c12;
    text-decoration:none;
  }
  .divider 
  {
    border-top:1px solid rgba(0,0,0,0.1);
  }
  .emphasis 
  {
    border-top: 4px solid transparent;
  }
  .emphasis:hover 
  {
    border-top: 4px solid #1abc9c;
  }
  .emphasis h2
  {
    margin-bottom:0;
  }
  span.tags 
  {
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
  }
  .dropdown-menu 
  {
    background-color: #34495e;    
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
  }
  .dropdown-menu .divider 
  {
    background:none;    
  }
  .dropdown-menu>li>a
  {
    color:#f5f5f5;
  }
  .dropup .dropdown-menu 
  {
    margin-bottom:10px;
  }
  .dropup .dropdown-menu:before 
  {
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
  }
  .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fff6c6;
    border: 1px solid #fff393;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    background-image: none;
  }
  .well a{
    color: #333;
  }
  .featured{
    background-color: #fff393;
    border: 1px solid #fff060;
  }
</style>

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h3>Find people by common skills and interests</h3>
      <div class="col-md-12">
        <h4>Skills</h4>
        <% Person.all_skill_tags.each do |tag| %>
          <span class="tags"><%= link_to tag['name'], people_with_interests_path(tag: tag['name']) %></span>
        <% end %>
      </div>
      <div class="col-md-12">
        <h4>Interests</h4>
        <% Person.all_interest_tags.each do |tag| %>
          <span class="tags"><%= link_to tag['name'], people_with_interests_path(tag: tag['name']) %></span>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Search by category instead</h3>
      <div class="col-md-12">
        <h4>Categories</h4>
        <% Person.all_person_role_tags.each do |tag| %>
          <span class="tags"><%= link_to tag['name'], people_with_role_path(tag: tag['name']) %></span>
        <% end %>
      </div>
    </div>
  </div>


  <% unless @people.blank? %>
    <% if @featured_people.size > 0 %>
      <hr/>

      <div class="row">
        <div class="col-md-12">
          <h2>Featured People</h2>
        </div>
      </div>
      <% @featured_people.in_groups_of(2).each do |people| %>
        <div class="row">
          <% people.each do |person| %>
            <% if person %>
              <div class="col-md-6">
                <%= render partial: "shared/profile", locals: { person: person, featured: true } %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <hr/>
    
    <% @people.in_groups_of(2).each do |people| %>
      <div class="row">
        <% people.each do |person| %>
          <% if person %>
            <div class="col-md-6">
              <%= render partial: "shared/profile", locals: { person: person, featured: false } %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

  <% else %>
    
    <div class="alternate">
      <p class="row">
        No people added yet.
      </p>
    </div>
  
  <% end %>

  <div class="alternate">
    <p class="row">
      <%= link_to 'Add Yourself', new_person_path, class: "btn btn-lg btn-primary" %>
    </p>
  </div>
</div>






