<% content_for :utility_bar do %>
  <div class="util-head">
      <div class="container">
        <% if !current_user.nil? && current_user.admin %>
          <%= link_to new_person_path, class: "btn" do %>
          <span class="glyphicon glyphicon-plus"></span> Add a new person
          <% end %>
        <% end %>
        <a class="btn" data-toggle="collapse" href="#f"><span class="glyphicon glyphicon-tag"></span> Filter People</a>
      </div>
  </div>
  <div class="util-body">
    <div class="collapse" id="f">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Find people by common skills and interests</h3>
            <h4>Skills</h4>
            <p>
              <% if Person.all_skill_tags.size > 0 %>
                <% Person.all_skill_tags.each do |tag| %>
                  <span class="tags"><%= link_to tag.name, people_with_interests_path(tag: tag.name) %></span>
                <% end %>
              <% else %>
                No common skills found
              <% end %>
            </p>
            <h4>Interests</h4>
            <p>
              <% if Person.all_interest_tags.size > 0 %>
                <% Person.all_interest_tags.each do |tag| %>
                  <span class="tags"><%= link_to tag.name, people_with_interests_path(tag: tag.name) %></span>
                <% end %>
              <% else %>
                No common interests found
              <% end %>
            </p>
          </div>
          <div class="col-md-6">
            <h3>Search by Role</h3>
            <h4>Categories</h4>
            <p>
              <% Person.all_person_role_tags.each do |tag| %>
                <span class="tags"><%= link_to tag['name'], people_with_role_path(tag: tag['name']) %></span>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<section class="section peopledex">
  <div class="container">

    <% unless @people.blank? && @featured_people.blank? %>
      <% if @featured_people.size > 0 %>
  <!--       <div class="row">
          <div class="col-md-12">
            <h2>Featured People</h2>
          </div>
        </div> -->
        <div class="row inline">
          <% @featured_people.each do |person| %>
            <% if person %>
              <div class="col-sm-6 col-md-4 inline-block">
                <%= render partial: "shared/profile", locals: { person: person, featured: true } %>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <% @people.each do |person| %>
          <% if person %>
            <div class="col-sm-6 col-md-4 inline-block">
              <%= render partial: "shared/profile", locals: { person: person, featured: false } %>
            </div>
          <% end %>
        <% end %>
      </div>

    <% else %>

      <div>
        <p>
          No people added yet.
        </p>
      </div>

    <% end %>
  </div>
</section>
