<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @person.user %>
</p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @person.website %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @person.company_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @person.title %>
</p>

<p>
  <strong>Twitter username:</strong>
  <%= @person.twitter_username %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @person.bio %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @person.avatar %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
