<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :content %><br>
  <%= f.text_area :content %>
</div>

<div class="field">
  <%= f.label :url %><br>
  <%= f.url_field :url %>
</div>
