<div class="row text-center">
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 inline-block">
        <%= form_tag "/newsletters", :html => { :class => 'form-horizontal' } do %>            
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <% if user_signed_in? %>
                    <%= text_field_tag :email, current_user.email, :disabled => true, :class => "form-control" %>
                    <div class= "hidden"><%= text_field_tag :person_id, current_user.id %></div>
                <% else %>
                    <%= text_field_tag :email, "", :required => true, :class => "form-control", :placeholder => 'Email Address' %>
                <% end %>
                <span class="input-group-btn">
                    <%= submit_tag "Subscribe", :class => "btn btn-secondary bg-charcoal white" %>
                </span>
            </div>
        <% end %>
    </div>
</div>
