<%= f.hidden_field :user_id %>

<% if current_user.admin? %>
  <div class="form-group">
    <%= f.label :featured, :class => "col-md-4 control-label" do %>
    Featured Person <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="This is only visible to Admins. Checking this box will put this user on the front page."></i>
    <% end %>
    <div class="col-md-8">
      <%= f.check_box :featured %>
    </div>
  </div>
<% end %>

<div class="form-group">
    <%= f.label :first_name, :class => "col-md-4 control-label" %>
    <div class="col-md-8">
        <%= f.text_field :first_name, autofocus: true, :class => "form-control" %>
    </div>
</div>

<div class="form-group">
    <%= f.label :last_name, :class => "col-md-4 control-label" %>
    <div class="col-md-8">
        <%= f.text_field :last_name, autofocus: true, :class => "form-control" %>
    </div>
</div>

<div class="form-group">
    <%= f.label :email, "Contact Email", :class => "col-md-4 control-label" %>
    <div class="col-md-8">
        <%= f.text_field :email, autofocus: true, :class => "form-control" %>
    </div>
</div>

<div class="form-group">
    <%= f.label :phone, :class => "col-md-4 control-label" do %>
    Phone <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="If you enter a phone number, and allow contact below, your phone number will be shown to other users."></i>
    <% end %>
    <div class="col-md-8">
        <%= f.text_field :phone, autofocus: true, :class => "form-control" %>
    </div>
</div>

<div class="form-group">
    <%= f.label :website, :class => "col-md-4 control-label" %>
    <div class="col-md-8">
        <%= f.text_field :website, autofocus: true, :class => "form-control" %>
    </div>
</div>

<div class="form-group">
    <%= f.label :company_name, :class => "col-md-4 control-label" %>
    <div class="col-md-8">
        <%= f.text_field :company_name, autofocus: true, :class => "form-control" %>
    </div>
</div>

<div class="form-group">
    <%= f.label :title, :class => "col-md-4 control-label" %>
    <div class="col-md-8">
        <%= f.text_field :title, autofocus: true, :class => "form-control" %>
    </div>
</div>

<div class="form-group">
    <%= f.label :twitter_username, :class => "col-md-4 control-label" do %>
    Twitter
    <% end %>
    <div class="col-md-8">
        <%= f.text_field :twitter_username, autofocus: true, :class => "form-control" %>
    </div>
</div>

<div class="form-group">
    <%= f.label :bio, :class => "col-md-4 control-label" %>
    <div class="col-md-8">
        <%= f.text_area :bio, autofocus: true, :class => "form-control" %>
    </div>
</div>


<div class="form-group">
    <%= f.label :skill_list, :class => "col-md-4 control-label" %>
    <div class="col-md-8">
        <%= f.text_area :skill_list, autofocus: true, :class => "form-control" %>
    </div>
</div>

<div class="form-group">
    <%= f.label :interest_list, :class => "col-md-4 control-label" %>
    <div class="col-md-8">
        <%= f.text_area :interest_list, autofocus: true, :class => "form-control" %>
    </div>
</div>

<div class="form-group">
    <%= f.label :role_list, :class => "col-md-4 control-label" %>
    <div class="col-md-8" style='color: white;'>
        <% f.object.role_list_tags = f.object.role_list.collect{|role| role} %>
        <% PersonRole.all.in_groups_of(2).each do |person_role_groups| %>
          <% person_role_groups.each do |person_role| %>
            <div class='col-md-6'>
              <%= f.check_box :role_list_tags, { :multiple => true }, person_role['name'].downcase, nil %>
              <%= person_role['name'] %>
            </div>
          <% end %>
        <% end %>
    </div>
</div>

<div class="form-group">
    <%= f.label :avatar, :class => "col-md-4 control-label" %>
    <div class="col-md-8">
        <%= f.file_field :avatar, autofocus: true, :class => "form-control" %>
        <br/>
        <%= image_tag(f.object.avatar.url(:thumb)) if f.object.avatar.exists? %>
    </div>
</div>

<div class="form-group">
    <%= f.label :delete_avatar, :class => "col-md-4 control-label" do %>
        Remove Avatar <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Check if you would like to remove your custom image and fall back to the gravatar image associated with your email."></i>
    <% end %>
    <div class="col-md-8">
        <%= f.check_box :delete_avatar, autofocus: true %>
    </div>
</div>

<div class="form-group">
    <%= f.label :allow_contact, :class => "col-md-4 control-label" do %>
        Allow Contact <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Allow people to contact you via email. Your email will not be displayed anywhere. Your phone number will be shown to users if it is entered above."></i>
    <% end %>
    <div class="col-md-8">
        <%= f.check_box :allow_contact, autofocus: true %>
    </div>
</div>
