<div class="well profile <%= person.featured ? 'featured' : nil %>">
  <div class="col-sm-12">
    <div class="col-xs-12 col-sm-8">
      <h2><%= link_to "#{person.first_name} #{person.last_name}", person_path(person) %></h2>
      <p><strong></strong> <%= person.bio %> </p>
      <% if person.skill_list && person.skill_list.size > 0 %>
        <p><strong>Skills: </strong>
          <% person.skill_list.each do |skill| %>
            <span class="tags"><%= link_to skill, people_with_skills_path(tag: skill) %></span>
          <% end %>
        </p>
      <% end %>
      <% if person.interest_list && person.interest_list.size > 0 %>
        <p><strong>Interests: </strong>
          <% person.interest_list.each do |interest| %>
            <span class="tags"><%= link_to interest, people_with_interests_path(tag: interest) %></span>
          <% end %>
        </p>
      <% end %>
      <% if person.role_list && person.role_list.size > 0 %>
        <p><strong>Roles: </strong>
          <% person.role_list.each do |role| %>
            <span class="tags"><%= link_to role, people_with_role_path(tag: role) %></span>
          <% end %>
        </p>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <figure>
        <img src="<%= profile_image(person) %>" alt="" class="img-circle img-responsive">

        <% if false %>
          <figcaption class="ratings">
            <p>Ratings
              <a href="#">
              <span class="fa fa-star"></span>
              </a>
              <a href="#">
              <span class="fa fa-star"></span>
              </a>
              <a href="#">
              <span class="fa fa-star"></span>
              </a>
              <a href="#">
              <span class="fa fa-star"></span>
              </a>
              <a href="#">
              <span class="fa fa-star-o"></span>
              </a> 
            </p>
          </figcaption>
        <% end %>
      </figure>
    </div>
  </div>
</div>  