<div class="profile font-reset <%= person.featured ? 'featured' : nil %>">
    <div class="text-center head">
      <figure class="bg-cream">
      <%= link_to profile_path(slug: person.friendly_id) do %>
        <img src="<%= profile_image(person) %>" alt="" class="profile-img img-circle img-responsive">
      <% end %>
      </figure>
      <h2 class="title"><%= link_to "#{person.first_name} #{person.last_name}", profile_path(slug: person.friendly_id) %></h2>
    </div>
    <div class="body clearfix">
      <div class="bio">
        <%= markdown.render(person.bio).html_safe if person.bio %>
      </div>
      <% if !defined? preview %>
        <% if person.skills.any? %>
          <div class="meta">
            <h4 class="meta-title">Skills</h4>
            <% person.skills.each do |skill| %>
              <span class="tags"><%= link_to skill.name, people_with_skills_path(tag: skill.name) %></span>
            <% end %>
          </div>
        <% end %>
        <% if person.interests.any? %>
          <div class="meta">
            <h4 class="meta-title">Interests</h4>
            <% person.interests.each do |interest| %>
              <span class="tags"><%= link_to interest.name, people_with_interests_path(tag: interest.name) %></span>
            <% end %>
          </div>
        <% end %>
        <% unless person.news_items.empty? then %>
          <div class="meta">
            <h4 class="meta-title">Related News</h4>
            <% person.news_items.take(10).each do |news| %>
              <%= render partial: 'shared/news', locals: {newsItem: news} %>
            <% end %>
            <% if person.news_items.size > 10 then %>
              <%= link_to "View More", news_index_path(person: person.slug) %>
            <% end %>
          </div>
        <% end %>

        <% unless person.event_items.empty? then %>
          <div class="meta">
            <h4 class="meta-title">Related Events</h4>
            <% person.event_items.take(10).each do |event| %>
              <%= render partial: 'shared/event', locals: {event: event} %>
            <% end %>
            <% if person.event_items.size > 10 then %>
              <%= link_to "View More", events_path(person: person.slug) %>
            <% end %>
          </div>
        <% end %>

        <% if person.role_list && person.role_list.size > 0 %>
          <div class="meta">
            <h4 class="meta-title">Roles</h4>
            <% person.role_list.each do |role| %>
              <span class="tags"><%= link_to role, people_with_role_path(tag: role) %></span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
