<div class="profile font-reset <%= person.featured ? 'featured' : nil %>">
    <div class="text-center head">
      <figure class="bg-cream">
      <%= link_to profile_path(slug: person.friendly_id) do %>
        <img src="<%= profile_image(person) %>" alt="" class="profile-img img-circle img-responsive">
      <% end %>
      </figure>
      <% if owned_by_current_user(@person) || (!current_user.nil? && current_user.admin) %>
      <h2 class="title"><%= link_to "#{person.first_name} #{person.last_name}", profile_path(slug: person.friendly_id) %></h2>
      <%  end %>
    </div>
    <div class="body clearfix">
      <div class="bio">
        <h2>Your profile is <%= person.profile_score %> out of 100</h2>
        <%= markdown.render(person.bio).html_safe if person.bio %>
      </div>
      <% if !defined? preview %>
        <% if person.skill_list && person.skill_list.size > 0 %>
          <div class="meta">
            <h4 class="meta-title">Skills</h4>
            <% person.skill_list.each do |skill| %>
              <span class="tags"><%= link_to skill, people_with_skills_path(tag: skill) %></span>
            <% end %>
          </div>
        <% end %>
        <% if person.interest_list && person.interest_list.size > 0 %>
          <div class="meta">
            <h4 class="meta-title">Interests</h4>
            <% person.interest_list.each do |interest| %>
              <span class="tags"><%= link_to interest, people_with_interests_path(tag: interest) %></span>
            <% end %>
          </div>
        <% end %>
        <% unless person.news.empty? then %>
          <div class="meta">
            <h4 class="meta-title">Related News</h4>
            <% person.news.take(10).each do |news| %>
              <%= render partial: 'shared/news', locals: {newsItem: news} %>
            <% end %>
            <% if person.news.size > 10 then %>
              <%= link_to "View More", news_index_path(person: person.slug) %>
            <% end %>
          </div>
        <% end %>

        <% unless person.events.empty? then %>
          <div class="meta">
            <h4 class="meta-title">Related Events</h4>
            <% person.events.take(10).each do |event| %>
              <%= render partial: 'shared/event', locals: {event: event} %>
            <% end %>
            <% if person.events.size > 10 then %>
              <%= link_to "View More", events_path(person: person.slug) %>
            <% end %>
          </div>
        <% end %>

        <% if person.role_list && person.role_list.size > 0 %>
          <div class="meta">
            <h4 class="meta-title">Roles</h4>
            <% person.role_list.each do |role| %>
              <span class="tags"><%= link_to role, people_with_role_path(tag: role) %></span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
