<div class="profile font-reset <%= person.featured ? 'featured' : nil %>">
    <div class="text-center head">
      <h2 class="title"><%= link_to "#{person.first_name} #{person.last_name}", profile_path(slug: person.friendly_id) %></h2>
    </div>
    <div class="body clearfix">
        <% unless person.news.empty? then %>
          <div class="meta">
            <h4 class="meta-title">Related News</h4>
            <% person.news.take(10).each do |news| %>
              <%= render partial: 'shared/news', locals: {newsItem: news} %>
            <% end %>
            <% if person.news.size > 10 then %>
              <%= link_to "View More", news_index_path(person: person.slug) %>
            <% end %>
          </div>
        <% end %>

        <% unless person.events.empty? then %>
          <div class="meta">
            <h4 class="meta-title">Related Events</h4>
            <% person.events.take(10).each do |event| %>
              <%= render partial: 'shared/event', locals: {event: event} %>
            <% end %>
            <% if person.events.size > 10 then %>
              <%= link_to "View More", events_path(person: person.slug) %>
            <% end %>
          </div>
        <% end %>
    </div>
</div>
