<section class="section">
    <div class="container">
        <h1 class="section-title">Add Event</h1>
        <%= form_for(@event, :html => {:class => "form-horizontal col-md-offset-3 col-md-6" }) do |f| %>
            <% if @event.errors.any? %>
                <div class="row">
                    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

                    <ul>
                        <% @event.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <%= render partial: 'topics/form', locals: { f: f } %>

          <% unless @event.image.file.nil? %>
              <div class="form-group">
                <%= image_tag(@event.image.url, width: '100%') %>
                <%= f.label :remove_image, :class => "sr-only" %>
                <div class="input-group">
                  <div class="input-group-addon">Remove Image</div>
                  <div class="bg-cream" style="padding: 6px 12px;">
                    <%= f.check_box :remove_image, autofocus: true %>
                  </div>
                </div>
              </div>
          <% end %>
          <div class="form-group">
            <%= f.label :image, "Image", :class => "sr-only" %>
            <div class="input-group">
              <div class="input-group-addon">Image</div>
              <%= f.file_field :image, autofocus: true, :class => "form-control" %>
            </div>
          </div>

            <div class="form-group">
                <%= f.label :starts_at, "Start Date", :class => "sr-only" %>
                <div class="input-group">
                    <div class="input-group-addon">Starts</div>
                    <%= f.text_field :starts_at, class: "form-control date-time-picker", data: { date_format: 'YYYY-MM-DD HH:mm:ss' } %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :ends_at, "End Date", :class => "sr-only" %>
                <div class="input-group">
                    <div class="input-group-addon">Ends</div>
                    <%= f.text_field :ends_at, class: "form-control date-time-picker", data: { date_format: 'YYYY-MM-DD HH:mm:ss' } %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :address, :class => "sr-only" %>
                <div class="input-group">
                    <div class="input-group-addon">Address</div>
                    <%= f.text_field :address, :class => "form-control" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.submit :class => "btn btn-block btn-lg white bg-charcoal" %>
            </div>
        <% end %>
    </div>
</section>
