<section class="section">
    <div class="container">
        <h1 class="section-title">Add Event</h1>
        <%= form_for(@event, :html => {:class => "form-horizontal col-md-offset-3 col-md-6" }) do |f| %>
            <% if @event.errors.any? %>
                <div class="row">
                    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

                    <ul>
                        <% @event.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <%= render partial: 'topics/form', locals: { f: f } %>

            <div class="form-group">
                <%= f.label :starts_at, "Start Date", :class => "sr-only" %>
                <div class="input-group">
                    <div class="input-group-addon">Starts</div>
                    <%= f.text_field :starts_at, class: "form-control date-time-picker" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :ends_at, "End Date", :class => "sr-only" %>
                <div class="input-group">
                    <div class="input-group-addon">Ends</div>
                    <%= f.text_field :ends_at, class: "form-control date-time-picker" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :address, :class => "sr-only" %>
                <div class="input-group">
                    <div class="input-group-addon">Address</div>
                    <%= f.text_field :address, :class => "form-control" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.submit :class => "btn btn-block btn-lg white bg-charcoal" %>
            </div>
        <% end %>
    </div>
</section>
