<p id="notice"><%= notice %></p>

<p>
  <strong>Starttime:</strong>
  <%= @event.startTime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @event.endTime %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
