<section class="section">
    <div class="container">
        <h1 class="section-title">Add News Item</h1>
        <%= form_for(@news, :html => {:class => "form-horizontal col-md-offset-3 col-md-6" }) do |f| %>
            <% if @news.errors.any? %>
                <div id="row">
                    <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

                    <ul>
                        <% @news.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <%= render partial: 'topics/form', locals: { f: f } %>

          <% unless @news.image.file.nil? %>
              <div class="form-group">
                <%= image_tag(@news.image.url, width: '100%') %>
                <%= f.label :remove_image, :class => "sr-only" %>
                <div class="input-group">
                  <div class="input-group-addon">Remove Image</div>
                  <div class="bg-cream" style="padding: 6px 12px;">
                    <%= f.check_box :remove_image, autofocus: true %>
                  </div>
                </div>
              </div>
          <% end %>
          <div class="form-group">
            <%= f.label :image, "Image", :class => "sr-only" %>
            <div class="input-group">
              <div class="input-group-addon">Image</div>
              <%= f.file_field :image, autofocus: true, :class => "form-control" %>
            </div>
          </div>

            <div class="form-group">
                <%= f.submit :class => "btn btn-block btn-lg white bg-charcoal" %>
            </div>
        <% end %>
    </div>
</section>
