<% content_for :title, @news.title %>

<%= render partial: 'news/meta_tags', locals: {news_item: @news} %>

<% content_for :utility_bar do %>
    <div class="util-head">
        <div class="container">
            <%= link_to new_news_path, :class => "btn" do %>
                <span class="glyphicon glyphicon-plus"></span> Add News
            <% end %>

            <% if can_edit?(@news) %>
                <%= link_to news_path(@news), :data => { :confirm => "Are you sure you want to delete this news?" }, :method => :delete, :class => "btn" do %>
                    <span class="glyphicon glyphicon-trash"></span> Remove News
                <% end %>

                <%= link_to edit_news_path(@news), :class => "btn" do %>
                    <span class="glyphicon glyphicon-edit"></span> Edit News
                <% end %>

                <%= link_to indications_path(id: @news.id, type: :news), :method => :post, :class => "btn" do %>
                    <span class="glyphicon glyphicon-ban-circle"></span> Flag For Spam
                <% end %>
            <% end %>
        </div>
    </div>
<% end %>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="resource-item">
                    <div class="head">
                        <h2 class="title"><%= link_to @news.title, @news.url + "?ref=StartupWichita.com" %></h2>
                    </div>
                  <% if @news.has_image? %>
                      <%= image_tag(@news.image.url, width: '100%') %>
                  <% end %>
                    <div class="body">
                        <div class="description">
                          <%= markdown
                            .render(decorate_content_with_mentions(@news))
                            .html_safe %>
                        </div>
                        <% unless @news.url.blank? %>
                          <div class="meta font-heading">
                            <h4 class="meta-title">Source</h4>
                            <span><%= link_to @news.title, @news.url, :class => "", :ref => "StartupWichita.com" %></span>
                          </div>
                        <% end %>
                        <div class="meta font-heading">
                            <h4 class="meta-title">Posted by</h4>
                            <span><%= @news.user.name %></span> on <span><%= @news.created_at.strftime('%d %B %Y') %></span>
                        </div>
                    </div>
                </div>
                <%= render partial: 'topics/disqus' %>
            </div>
        </div>
    </div>
</section>
