<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) + ' | ' if yield(:title).presence %>Startup Wichita</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="Startup Wichita, Business, Development, Resources, Wichita, Kansas">
    <meta name="description" content="Startup Wichita :: The online connecting point of Wichita's Startup &amp; Tech communities.">

    <link href="<%= image_path 'icons/favicon.ico' %>" rel="shortcut icon" type="image/x-icon">

    <!-- Facebook Open Graph Tags -->
    <meta property="fb:app_id" content="540895106043121" />
    <meta property="fb:admins" content="kentonh" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:title" content="<%= yield_meta_tag(:og_title, "#{yield(:title) + ' | ' if yield(:title).presence}Startup Wichita") %>" />
    <meta property="og:description" content="<%= yield_meta_tag(:og_description, "Startup Wichita :: The online connecting point of Wichita's Startup &amp; Tech communities.") %>" />
    <meta property="og:image" content="<%= yield_meta_tag(:og_image, image_url('tophandlogo-02.png')) %>" />
    <meta property="og:image:height" content="<%= yield_meta_tag(:og_image_height, '213') %>" />
    <meta property="og:image:width" content="<%= yield_meta_tag(:og_image_width, '81') %>" />

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:site" content="@StartupWichita" />
    <meta name="twitter:url" content="<%= request.original_url %>" />
    <meta name="twitter:title" content="<%= yield_meta_tag(:twitter_title, "#{yield(:title) + ' | ' if yield(:title).presence}Startup Wichita") %>" />
    <meta name="twitter:description" content="<%= yield_meta_tag(:twitter_description, "Startup Wichita :: The online connecting point of Wichita's Startup &amp; Tech communities.") %>" />
    <meta name="twitter:image" content="<%= yield_meta_tag(:twitter_image, image_url('tophandlogo-02.png')) %>" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800' rel='stylesheet' type='text/css'>

	<link rel="alternate" type="application/rss+xml" title="Startup Wichita - Events" href="/events/feed?format=rss">
	<link rel="alternate" type="application/rss+xml" title="Startup Wichita - News" href="/news/feed?format=rss">
	<link rel="alternate" type="application/rss+xml" title="Startup Wichita - People" href="/people/feed?format=rss">
	<link rel="alternate" type="application/rss+xml" title="Startup Wichita - Resources" href="/resources/feed?format=rss">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div>
      <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div id="logo">
        <div><a href="/" id="logoTop"><img class="img-responsive center-block" src="<%= image_path('tophandlogo-02.png') %>"/></a></div>
        <div><a href="/" id="logoBottom"><img class="img-responsive center-block" src="<%= image_path('bottomlogo-01.png') %>" alt="Startup Wichita - Crafted in the Midwest"/></a></div>
      </div>

      <div id="stickyBar" class="navbar masthead" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs hidden-sm" href="#">
              <%= image_tag "bottomlogo-01.png", :class => "img-responsive center-block",  :alt => "Startup Wichita - Crafted in the Midwest" %>
            </a>
          </div>
          <div class="collapse navbar-collapse robotoSlab" id="navbar-collapse">
            <ul class="nav navbar-nav row">

              <li class="col-sm-2"><%= link_to 'people', people_path %><div class="nav-icon ico-people"></div></li>
              <li class="col-sm-2">
                <%= link_to 'news', news_index_path %> <div class="nav-icon ico-news"></div>
              </li>

              <!-- Show these two if they're logged out -->
              <% if ! user_signed_in? %>
                <li class="col-sm-2 hidden-xs visible-sm visible-md visible-lg"><%= link_to 'sign up', new_user_registration_path %></li>
                <li class="col-sm-2 hidden-xs visible-sm visible-md visible-lg"><%= link_to 'sign in', new_user_session_path %></li>
              <% else %>
                <!-- Show these two if they're logged in -->
                <li class="col-sm-2 hidden-xs visible-sm visible-md visible-lg"><%= link_to 'my profile', edit_user_registration_path %></li>
                <li class="col-sm-2 hidden-xs visible-sm visible-md visible-lg"><%= link_to 'sign out', destroy_user_session_path, :method => :delete %><li>
              <% end %>

              <li class="col-sm-2">
                <%= link_to 'events', events_path %>
                <div class="nav-icon ico-events"></div>
              </li>
              <li class="col-sm-2">
                <%= link_to 'resources', resources_path %>
                <div class="nav-icon ico-resources"></div>
              </li>

              <!-- Show these two if they're logged out -->
              <% if ! user_signed_in? %>
                <li class="visible-xs hidden-sm"><%= link_to 'sign up', new_user_registration_path %></li>
                <li class="visible-xs hidden-sm"><%= link_to 'sign in', new_user_session_path %></li>
              <% else %>
                <!-- Show these two if they're logged in -->
                <li class="visible-xs hidden-sm"><%= link_to 'my profile', edit_user_registration_path %></li>
                <li class="visible-xs hidden-sm"><%= link_to 'sign out', destroy_user_session_path, :method => :delete %><li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <% if content_for?(:utility_bar) %>
      <div class="form-inline util-bar">
        <%= yield :utility_bar %>
      </div>
    <% end %>
    <% if notice %>
      <div class="alert alert-success text-center"><div class="container"><%= notice %></div></div>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger text-center"><div class="container"><%= alert %></div></div>
    <% end %>

    <%= yield %>

    <footer class="foot bg-charcoal">
      <div class="container-fluid">
          <div class="text-center">
            <p>Join the conversation!</p>
            <p><script async defer src="https://startupwichita-slackin.herokuapp.com/slackin.js"></script></p>
          </div>
          <!-- Newsletter Sign-Up Form -->
          <% unless current_page?(unsubscribe_path)%>
            <section class="section">
              <%= render partial: "shared/newsletter_form"%>
            </section>
          <% end %>
          <!-- End of Newsletter Sign-Up Form -->
          <div class="logos text-center">
            <a target="_blank" href="http://labor-party.com/">
              <%= image_tag "logos/labor-party-flat.png", :alt => "The Labor Party" %>
            </a>
            <a target="_blank" href="http://devict.org">
              <%= image_tag "logos/devict-flat.png", :alt => "devICT" %>
            </a>
            <a target="_blank" href="http://www.wichitacf.org/">
              <%= image_tag "logos/wichita-community-foundation-flat.png", :alt => "Wichita Community Foundation" %>
            </a>
            <a target="_blank" href="http://wichitachamber.org/">
              <%= image_tag "logos/wichita-chamber-of-commerce-flat.png", :alt => "Wichita Chamber of Commerce" %>
            </a>
          </div>
      </div>
    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39235664-6', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
