<!DOCTYPE html>
<html>
  <head>
    <title>Startup Wichita</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="Startup Wichita, Business, Development, Resources, Wichita, Kansas">
    <meta name="description" content="Startup Wichita :: The online connecting point of Wichita's Startup & Tech communities.">

    <link href="<%= image_path 'icons/favicon.ico' %>" rel="shortcut icon" type="image/x-icon">

    <meta property="fb:app_id" content="540895106043121">
    <meta property="og:description" content="Startup Wichita :: The online connecting point of Wichita's Startup & Tech communities.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://startupwichita.com">
    <meta property="og:image" content="<%= image_path 'tophandlogo-02.png' %>">
    <meta property="fb:admins" content="kentonh">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800' rel='stylesheet' type='text/css'>
	
	<link rel="alternate" type="application/rss+xml" title="Startup Wichita - Events" href="/events/feed?format=rss">
	<link rel="alternate" type="application/rss+xml" title="Startup Wichita - News" href="/news/feed?format=rss">
	<link rel="alternate" type="application/rss+xml" title="Startup Wichita - People" href="/people/feed?format=rss">
	<link rel="alternate" type="application/rss+xml" title="Startup Wichita - Resources" href="/resources/feed?format=rss">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div>
      <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div class="container-fluid logoTop" id="logoTop">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4"><a href="/#!/"><img class="img-responsive center-block" src="<%= image_path('tophandlogo-02.png') %>"/></a></div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4"><a href="/" id="logoBottom"><img class="img-responsive center-block" src="<%= image_path('bottomlogo-01.png') %>" alt="Startup Wichita - Crafted in the Midwest"/></a></div>
        </div>
      </div>

      <div id="stickyBar" class="navbar masthead" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-ng-click="isCollapsed = !isCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs hidden-sm" href="#">
              <%= image_tag "bottomlogo-01.png", :class => "img-responsive center-block",  :alt => "Startup Wichita - Crafted in the Midwest" %>
            </a>
          </div>
          <div class="navbar-collapse robotoSlab" collapse="isCollapsed">
            <ul class="nav navbar-nav row">

              <li class="col-sm-2"><%= link_to 'people', people_path %><div class="nav-icon ico-people"></div></li>
              <li class="col-sm-2">
                <%= link_to 'news', news_index_path %> <div class="nav-icon ico-news"></div>
              </li>

              <!-- Show these two if they're logged out -->
              <% if ! user_signed_in? %>
                <li class="col-sm-2"><%= link_to 'sign up', new_user_registration_path %></li>
                <li class="col-sm-2"><%= link_to 'sign in', new_user_session_path %></li>
              <% else %>
                <!-- Show these two if they're logged in -->
                <li class="col-sm-2"><%= link_to 'my profile', edit_user_registration_path %></li>
                <li class="col-sm-2"><%= link_to 'sign out', destroy_user_session_path, :method => :delete %><li>
              <% end %>

              <li class="col-sm-2">
                <%= link_to 'events', events_path %>
                <div class="nav-icon ico-events"></div>
              </li>
              <li class="col-sm-2">
                <%= link_to 'resources', resources_path %>
                <div class="nav-icon ico-resources"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <% if content_for?(:utility_bar) %>
      <div class="form-inline util-bar">
        <%= yield :utility_bar %>
      </div>
    <% end %>

    <% unless notice.blank? %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>

    <% unless alert.blank? %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>

    <%= yield %>

    <footer class="charcoal-top-border">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-offset-1 col-md-10 logos">
            <a href="http://labor-party.com/">
              <%= image_tag "logos/labor-party-sm.png", :alt => "The Labor Party" %>
            </a>
            <a href="http://devict.org">
              <%= image_tag "logos/devict-sm.png", :alt => "devICT" %>
            </a>
            <a href="http://www.wichitacf.org/">
              <%= image_tag "logos/wichita-community-foundation-sm.png", :alt => "Wichita Community Foundation" %>
            </a>
            <a href="http://wichitachamber.org/">
              <%= image_tag "logos/wichita-chamber-of-commerce-sm.png", :alt => "Wichita Chamber of Commerce" %>
            </a>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
